../project0/.ipynb_checkpoints/
../project1/.ipynb_checkpoints/
../project1/__pycache__/
../project2/.ipynb_checkpoints/
../project2/__pycache__/
../project2/data/stl10_binary/
../project2/grid_search.py
../project2/numpy/
../project3/.ipynb_checkpoints/
../project3/__pycache__/
../project3/build/
../project3/data/
../project3/im2col_cython.c
../project3/im2col_cython.cpython-36m-darwin.so
../project3/numpy/
../project4/.ipynb_checkpoints/deep_dream-checkpoint.ipynb
../project4/__pycache__/
../project4/data/hot-dog-not-hot-dog/
../project4/data/mountain_1x.png
../project4/data/mountain_2x.png
../project4/data/mountain_3x.png
../project4/data/stl10_binary.tar.gz
../project4/data/stl10_binary/
../project4/numpy/
.ipynb_checkpoints/
__pycache__/
build/
im2col_cython.c
im2col_cython.cpython-36m-darwin.so
im2col_cython.pyx
imdb/
results/